<div class="sidebar">
    <div class="sidebar-header">
        <div class="logo_section">
            <a href="dashboard.html">
                <img class="img-responsive logo_icon" src="images/landing_page/prof.png" alt="Retailer Logo" />
            </a>
        </div>
    </div>
    <div class="sidebar_user_info">
        <div class="user_profle_side">
            <div class="user_img">
                <img class="img-responsive" src="images/landing_page/prof.png" alt="User Image" />
            </div>
            <div class="user_info">
                <h6>Unique ID: C2344</h6>
                <p><span class="online_animation"></span> Online</p>
            </div>
        </div>
    </div>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="dashboard.html">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <!--
        <li>
            <a href="inventory.html">
                <i class="fa fa-cubes"></i> <span>Inventory</span>
            </a>
        </li>
        <li>
            <a href="orders.html">
                <i class="fa fa-shopping-cart"></i> <span>Orders</span>
            </a>
        </li>
        <li>
            <a href="sales.html">
                <i class="fa fa-line-chart"></i> <span>Sales Reports</span>
            </a>
        </li>

        -->

        <li>
            <a href="leaderboard.html">
                <i class="fas fa-medal"></i> <span>Leaderboard</span>
            </a>
        </li>


        <li>
            <a href="settings.html">
                <i class="fa fa-cogs"></i> <span>Settings</span>
            </a>
        </li>
    </ul>
</div>